flow
[{"id":"125d89bd.6401a6","type":"tab","label":"Soundbox","disabled":false,"info":""},{"id":"cb90763f.6ee7d8","type":"exec","z":"125d89bd.6401a6","command":"mpv --volume 150 /home/pi/cestnon.mp3  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":700,"y":100,"wires":[[],[],[]]},{"id":"523034fe.7fe5ac","type":"switch","z":"125d89bd.6401a6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"cestnon","vt":"str"},{"t":"eq","v":"revolte","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":220,"wires":[["cb90763f.6ee7d8"],["16001392.a448ec"]]},{"id":"3c4f1995.dc0596","type":"mqtt in","z":"125d89bd.6401a6","name":"","topic":"lghs/soundboard/#","qos":"2","broker":"db396d88.a4d5d","x":150,"y":220,"wires":[["523034fe.7fe5ac"]]},{"id":"16001392.a448ec","type":"exec","z":"125d89bd.6401a6","command":"mpv --volume 90 /home/pi/bon_ben_revolte.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":730,"y":160,"wires":[[],[],[]]},{"id":"db396d88.a4d5d","type":"mqtt-broker","z":"","name":"","broker":"gingerbread.lghs.space","port":"1884","tls":"295e33ef.dca20c","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"295e33ef.dca20c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]