flow
[{"id":"125d89bd.6401a6","type":"tab","label":"Soundbox","disabled":false,"info":""},{"id":"cb90763f.6ee7d8","type":"exec","z":"125d89bd.6401a6","command":"mpv --volume 150 /home/pi/mp3/cestnon.mp3  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":700,"y":40,"wires":[[],[],[]]},{"id":"523034fe.7fe5ac","type":"switch","z":"125d89bd.6401a6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"cestnon","vt":"str"},{"t":"eq","v":"revolte","vt":"str"},{"t":"eq","v":"honteux","vt":"str"},{"t":"eq","v":"merde","vt":"str"},{"t":"eq","v":"merde2","vt":"str"},{"t":"eq","v":"degarnie","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":350,"y":380,"wires":[["cb90763f.6ee7d8"],["16001392.a448ec"],["7aa9fa08.531c34"],["93f7098c.f5a9a8"],["a28501fd.3d6a5"],["734fffe7.de65a"]]},{"id":"3c4f1995.dc0596","type":"mqtt in","z":"125d89bd.6401a6","name":"","topic":"lghs/soundboard/#","qos":"2","broker":"db396d88.a4d5d","x":150,"y":380,"wires":[["523034fe.7fe5ac"]]},{"id":"16001392.a448ec","type":"exec","z":"125d89bd.6401a6","command":"mpv --volume 90 /home/pi/mp3/bon_ben_revolte.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":720,"y":80,"wires":[[],[],[]]},{"id":"7aa9fa08.531c34","type":"exec","z":"125d89bd.6401a6","command":"mpv --volume 90 /home/pi/mp3/cest_honteux.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":120,"wires":[[],[],[]]},{"id":"93f7098c.f5a9a8","type":"exec","z":"125d89bd.6401a6","command":"mpv --volume 110 /home/pi/mp3/merde.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":160,"wires":[[],[],[]]},{"id":"a28501fd.3d6a5","type":"exec","z":"125d89bd.6401a6","command":"mpv --volume 110 /home/pi/mp3/merde2.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":700,"y":200,"wires":[[],[],[]]},{"id":"734fffe7.de65a","type":"exec","z":"125d89bd.6401a6","command":"mpv --volume 110 /home/pi/mp3/degarnie.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":700,"y":240,"wires":[[],[],[]]},{"id":"83331329.833a","type":"comment","z":"125d89bd.6401a6","name":"LISEZ MOI","info":"Pensez à exporter le current flow et les mp3 vers le repo : https://github.com/iooner/mqtt-nodered-soundboard","x":240,"y":120,"wires":[]},{"id":"db396d88.a4d5d","type":"mqtt-broker","z":"","name":"","broker":"gingerbread.lghs.space","port":"1884","tls":"295e33ef.dca20c","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"295e33ef.dca20c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]